<h1>Carrito de Compras</h1>

{{#if carts}}
  {{#each carts.products}}
    <div class="product">
      <h2>{{this.productId}}</h2>
      <p>Cantidad: {{this.quantity}}</p>
    </div>
  {{/each}}
{{else}}
  <p>No se encontró el carrito.</p>
{{/if}}
