
    <h1>Realtime Products</h1>
    <ul>
        {{#each productList}}
            <li>{{this.title}} - Precio: ${{this.price}}</li>
        {{/each}}
    </ul>
<script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script src="/js/products.js"></script>

